.todo-input{
    outline: none;
    width: 70%;
    padding: .6rem;
    border: none;
    border-bottom: 1px solid rgb(231, 231, 231);
    background: rgb(233 239 235 / 0%);
}
#fonts{
    outline: none;
    padding: .6rem;
    border: none;
    border-bottom: 1px solid rgb(231, 231, 231);;
    background: rgb(233 239 235 / 0%); 
}
#fonts > option{
    background: rgba(255, 255, 255, 0.306);
}
#colorbox{
height: 2.5rem;
border: none;
margin-left: 10px;
}
.input-holder{
    margin: auto;
}
.editing-tools{
    display: flex ;
    justify-content: center;
    align-items: center;
}
.add-btn{
    width: 20%;
    margin-left:-1em;
    padding: 0rem;
    font-size: 27px;  
    z-index: 100px;
}

.reverse-row{
    flex-direction: row-reverse !important;
}